extends layout

block content
  h1= title
  p Welcome to Musaic, a bunch of garbage that doesn't work.

  a(class="spottybutton" href="/login_create") Create a playlist

  a(class="spottybutton" href="/login_join") Join a playlist

  h1 Dynamic content

  if error
    p Error getting dynamic content.
  else
    p The library has the following record counts:

    ul
      li #[strong Playlists:] !{data.playlist_count}