extends layout

block content
  h1.colortwo=title

  form.createstuff(method='POST' action='')
    div.form-group
      label(for='title')
      input#title.form-control(type='text', placeholder='Join Code' name='_id' required='true' value=(undefined===playlist ? '' : playlist._id) )
    button.createbutton(type='submit') Submit
  if errors 
    ul
      for error in errors
        li!= error.msg
