extends layout

block content
  h1.colortwo=title

  script(type="text/javascript" src="/js/CreatePlaylist.js")
  script(type="text/javascript" src="/js/GetToken.js")

  form.createstuff(method='POST' action='')
    div.form-group
      label(for='title')
      input#title.form-control(type='text', placeholder='Playlist Title' name='title' required='true' value=(undefined===playlist ? '' : playlist.title) )
    button.createbutton(type='submit') Submit
  if errors 
    ul
      for error in errors
        li!= error.msg

