extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='title') Playlist Title:
      input#title.form-control(type='text', placeholder='Playlist Title' name='title' required='true' value=(undefined===playlist ? '' : playlist.title) )
    button.btn.btn-primary(type='submit') Submit
  if errors 
    ul
      for error in errors
        li!= error.msg

  ul#scroll-container
    li.track Hit the gym
    li.track Pay bills
    li.track Meet George
    li.track Buy eggs
    li.track Read a book
    li.track Organize office