
#login, #loggedin {
        display: none;
}

.text-overflow {
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
width: 500px;
}

p {
    padding-top: 0px;
    margin:0;
	color: #7B7B7B;
	font-size: 1.0em;
	line-height: 1.2em;
}

.trackname {
	margin-left: 1%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	width: 55%;
}

.controlbuttoncontainer {
	margin-top: auto;
	margin-bottom: auto;
	display: inline-block;
	width: 30%;
}

#createplay {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

#playbutton {
	border: 1px solid #CD5C5C;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	color: #7B7B7B;
}

#scroll-container {
	position: absolute;
	height: 440px;
	width: 60%;
	overflow-x: hidden;
	overflow-y: auto;
	font-weight: 400;
	border: 1px solid #CD5C5C;
	border-radius: 20px;
	padding: 10px 20px; /*topbottom, rightleft*/
	/*margin: auto;*/
	margin-top: 10px;
	list-style-type: none;
}

.track {
	/*text-align: center;*/
	font-family: "Source Sans Pro", sans-serif;
	position: relative;
}

#login {
	margin-top: 2%;
	margin-bottom: 2%;
}

.logo {
    width: 35%;
}

#img {
	text-align: center;
}

#img_small {
	position: absolute;
  	top: 5px;
  	right: -100px;
	width:200px;
	height:200px;
}

#login_butt {
	text-align: center;
	width: 80%;
	margin: 0 auto;
	margin-top: 50px;
}

#login_butt a {
	margin-top: 30px;
    color: #fff;
    background-color: #CD5C5C;
    padding: 20px 70px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    text-align: center;
}

#widget {
	float: right;
	position: relative;
	margin-top: 10px;
	margin-right: 2%;
	width: 30%;
	height: 440px;
}

#info {
	text-align: center;
	margin-top: 30px;
}

.color {
	color: #CD5C5C;
}

.colortwo {
	color: #CD5C5C;
	text-align: center;
	margin-top: 5%;
}

.row {
	margin: 2%;
}

.createstuff {
	text-align: center;
	margin-top: 5%;
	margin-right: 15%;
	margin-left: 15%;
}

.createbutton {
	margin-top: 5%;
	color: #fff;
    background-color: #CD5C5C;
    padding: 15px 50px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    text-align: center;
}

.littlebutt {
	float: right;
	margin: auto;
	background-color: #CD5C5C;
	color: #fff;
}


.delete_button{
	display: inline-block;
	margin-top: 10px;
	position: relative;
	height: 2.5em;
	width: 10em;
	overflow: hidden;
	font-size: 1em;
	text-transform: uppercase;
	text-decoration: none;
	margin-right: 10px;
  }

a span {
	text-align: center;
	line-height: 2.5em;
	display: block;
	height: 2.5em;
	width: 10em;
	position: absolute;
	top: 0px;
	right: 0;
	bottom: 0;
	left: 0px;
  }

.delete {
	background-color: #CD5C5C;
	color: white;
	left: 0;
	-webkit-transition: left 0.2s ease-out;
	-moz-transition: left 0.2s ease-out;
	transition: left 0.2s ease-out;
	z-index: 10;
  }

  .create {
	background-color: #CD5C5C;
	color: white;
	left: 0;
	-webkit-transition: left 0.2s ease-out;
	-moz-transition: left 0.2s ease-out;
	transition: left 0.2s ease-out;
	z-index: 10;
  }
  
  .confirm {
	background-color: #B33D41;
	color: white;
	z-index: 0;
  }

  .confirm_create {
	background-color: #B33D41;
	color: white;
	z-index: 0;
  }
  
  a.open .delete {
	left: -90%;
  }

  a.open .create {
	left: -90%;
  }

  #toast {
    visibility: hidden;
    max-width: 50px;
    height: 50px;
    /*margin-left: -125px;*/
    margin: auto;
    background-color: #CD5C5C;
    color: #fff;
    text-align: center;
    border-radius: 2px;

    position: fixed;
    z-index: 1;
    left: 0;right:0;
    bottom: 30px;
    font-size: 17px;
    white-space: nowrap;
}
#toast #img{
	width: 50px;
	height: 50px;
    
	float: left;
	vertical-align: middle;
    
    padding-top: 16px;
    padding-bottom: 16px;
    
    box-sizing: border-box;

    background-color: #B33D41;
    color: #fff;
}
#toast #desc{

    
    color: #fff;
   
    padding: 16px;
    
    overflow: hidden;
	white-space: nowrap;
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes expand {
    from {min-width: 50px} 
    to {min-width: 350px}
}

@keyframes expand {
    from {min-width: 50px}
    to {min-width: 350px}
}
@-webkit-keyframes stay {
    from {min-width: 350px} 
    to {min-width: 350px}
}

@keyframes stay {
    from {min-width: 350px}
    to {min-width: 350px}
}
@-webkit-keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}

@keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 60px; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 60px; opacity: 0;}
}